/* https://github.com/neverpanic/google-font-download */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxK.woff2 */
		url('../fonts/Roboto_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxM.woff */
		url('../fonts/Roboto_400.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4.woff2 */
		url('../fonts/Roboto_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc-.woff */
		url('../fonts/Roboto_300.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4.woff2 */
		url('../fonts/Roboto_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc-.woff */
		url('../fonts/Roboto_700.woff') format('woff');
}
/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src:
		url('../fonts/fa-solid-900.woff2') format('woff2'),
		url('../fonts/fa-solid-900.woff') format('woff');
}
.fa {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-variant: normal;
	display: inline-block;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
}
.fa-chevron-up:before { content: '\f077'; }
.fa-bars:before { content: '\f0c9'; }
