name: Build test and quality checks
on: push
jobs:
  Actions:
    # https://github.com/actions/virtual-environments
    runs-on: ubuntu-latest
    steps:
    - name: Deploy DietPi-Website locally
      id: deploy
      run: bash -c "$(curl -sSfL https://raw.githubusercontent.com/MichaIng/DietPi-Website${GITHUB_REF#refs/heads}/deploy.bash)" bash .
    - name: Setup JRE for Nu Html Checker
      # https://github.com/actions/setup-java/releases
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        # https://github.com/adoptium
        java-version: '17-ea'
        java-package: jre
        check-latest: true
    - name: Download Nu Html Checker
      run: curl -sSfLO 'https://github.com/validator/validator/releases/download/latest/vnu.jar'
    - name: Run Nu Html Checker to check HTML, CSS and SVG files
      run: find . -type f \( -name '*.html' -o -name '*.css' -o -name '*.svg' \) -exec java -jar vnu.jar --verbose --also-check-css --also-check-svg {} +
    - name: Setup Python for PySpelling
      id: python
      if: always() && steps.deploy.outcome == 'success'
      # https://github.com/actions/setup-python/releases
      uses: actions/setup-python@v2
      with:
        # https://github.com/actions/python-versions/releases
        python-version: '3.10.0-rc.1 - 3.10'
    - name: Install PySpelling
      id: pyspelling
      if: always() && steps.python.outcome == 'success'
      run: |
        pip3 install -U pip setuptools wheel
        pip3 install -U pyspelling
        sudo apt-get -q update
        sudo apt-get -qq --no-install-recommends install aspell-en
    - name: Run PySpelling to check HTML files
      if: always() && steps.pyspelling.outcome == 'success'
      run: pyspelling -vc .spellcheck.yml
    - name: Build lychee
      id: lychee
      if: always() && steps.deploy.outcome == 'success'
      run: cargo install --git https://github.com/lycheeverse/lychee --branch local-files
    - name: Run lychee to check Markdown and HTML files
      if: always() && steps.lychee.outcome == 'success'
      run: lychee -Env --require-https --github-token '${{ secrets.GITHUB_TOKEN }}' -X head -b '.' '**/*.md' '**/*.html'
